*{
  
    margin:0;
    padding:0;
    box-sizing: border-box;

}

body{
    background-color: rgba(37, 88, 88, 0.838);
    text-align: center;
}

#heading{
    color:rgb(237, 237, 139);
    margin-top: 13px;
    font-size: 3rem;


}

.container{
    
    
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
   
}

.game{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 0.3rem; 
/* 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; */

}

.box{
    height:20vh;
    width:10vw;
    border-radius: 0.4rem;
    background-color:rgba(252, 252, 179, 0.929) ;
    font-size: 3rem;
    color: rgba(112, 14, 14, 0.877);
    font-weight: 300;
    border: none;
    box-shadow: 3px 2px 6px rgb(54, 52, 52);
}

#reset-btn{

    margin: 6px;
    padding: 10px 10px;
    border-radius: 7px;
    text-align: center;
    border: none;
    font-size: 1rem;
    font-weight: 300;
    color:rgb(251, 251, 162) ;
    background-color: rgba(25, 24, 24, 0.909);
}

.msg-container{
    height: 10vmin;
}

.hide{
    display: none;
    



}

.msg{
    font-size: 2.4rem;
    font-weight: 600;
    margin: 15px 0;
    color: rgba(112, 14, 14, 0.877);
}

.new-btn{
   
    padding: 10px 10px;
    border-radius: 7px;
    text-align: center;
    border: none;
    font-size: 1rem;
    font-weight: 300;
    color:rgb(251, 251, 162) ;
    background-color: rgba(25, 24, 24, 0.909);
}